<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="./../../../assets/Logos/LOGO-GLOBTECH.png" alt="Globtech" width="100">
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">INICIO</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            COMPAÑIA
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">QUIENES SOMOS</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            PRODUCTOS
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">IMAGENES SATELITALES</a></li>
            <li><a class="dropdown-item" href="#">SOFTWARE</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            SERVICIOS
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">DRONES</a></li>
            <li><a class="dropdown-item" href="#">SATELITES</a></li>
            <li><a class="dropdown-item" href="#">GEOSERVICIOS</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">PRENSA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">CONTACTO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">ACCEDER</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- <div class="card w-75 mb-3">
  <div class="card-body bg-secondary">
    <div class="row">
      <div class="col-sm">
        <h5 class="card-title">CONTACTO</h5>
        <ul>
          <li>
            Direccion:
            <a href="https://goo.gl/maps/okFrBy5fSDSEqD5f8">
              CALLE BERLÍN E3-85 Y 9 DE OCTUBRE, TORRES WINDSOR, QUITO - ECUADOR
            </a>
          </li>
          <li>
            Telefonos: (+5932) 2 553 585 / 2 553 747
          </li>
          <li>
            <a href="mailto:info@globtech">IFNO@GLOBTECH</a>
          </li>
        </ul>
      </div>
      <div class="col-sm">
        <img src="./../../../assets/images/map-line.png" alt="" srcset="">
      </div>
    </div>
  </div>
</div> -->
<!-- componentes que nos pueden servir despues -->

